/* image crope section   */
.modal{ left:0; right:0; margin:0 auto;}
#firstImageUploadModel .profileimg-plug{margin:0 0 auto;text-align: center;max-width:100%;}
#firstImageUploadModel .plucgin-clodebtn{overflow:hidden;float:left;width:96%;background-color:#fff;}
#firstImageUploadModel .side-images{overflow-y:scroll;overflow-x:hidden;max-height:32em;}
#firstImageUploadModel .side-images .sideimg-box{padding-top:10px; cursor:pointer;}
#firstImageUploadModel .profileimg-plug .cropit-preview{margin: 0 auto;width:100%;}
#firstImageUploadModel .profileimg-plug .image-editor button{
    transition: all 0.3s ease-out 0s;
}
#firstImageUploadModel .plucgin-clodebtn button{
	background-color: #0084ff;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 5px 13px;
    transition: all 0.3s ease-out 0s;}
#firstImageUploadModel .profileimg-plug .image-editor .rotat-btn{
	display: block;
    float: left;
    text-align: center;
    width: 100%;
}
#firstImageUploadModel .plucgin-clodebtn button:hover, #firstImageUploadModel .profileimg-plug .image-editor button:hover{background-color:rgba(0, 132, 255, 0.07) !important;}
#firstImageUploadModel .profileimg-plug .image-editor {overflow:hidden;}
#firstImageUploadModel .profileimg-plug .image-editor .cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 0px;
	width: 400px;
	height: 400px;
}
#firstImageUploadModel .profileimg-plug .image-editor .cropit-preview-image-container {cursor: move;}
#firstImageUploadModel .file-input-wrapper {display: inline-block;overflow-y: hidden;}
#firstImageUploadModel .file-input-wrapper .file-input-button {
    background: none repeat scroll 0 0 #0084ff;
    border: 1px solid #0084ff;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 30px;
    line-height: 15px;
    margin-top: 2px;
	margin-bottom:0px;
    padding-top: 7px;
    text-align: center;
    transition: color 500ms ease 0s, background-color 500ms ease 0s;
    width: 140px;
}
#firstImageUploadModel .file-input-wrapper input {display: none;text-align: center;width: 100%;}
#firstImageUploadModel .modal-header{padding: 5px;}
#firstImageUploadModel .modal-body{padding: 5px;overflow:hidden; max-height:700px;}
#firstImageUploadModel .modal-footer{padding: 5px 10px; margin-top:0px;}
#firstImageUploadModel.modal {overflow-x: hidden;overflow-y: scroll;max-height: auto;top: 10px;}
#firstImageUploadModel .image-editor img { max-width:inherit!important;}

#secondImageUploadModel .profileimg-plug{margin:0 0 auto;text-align: center;max-width:100%;}
#secondImageUploadModel .plucgin-clodebtn{overflow:hidden;float:left;width:96%;background-color:#fff;}
#secondImageUploadModel .side-images{overflow-y:scroll;overflow-x:hidden;max-height:32em;}
#secondImageUploadModel .side-images .sideimg-box{padding-top:10px; cursor:pointer;}
#secondImageUploadModel .profileimg-plug .cropit-preview{margin: 0 auto;width:100%;}
#secondImageUploadModel .profileimg-plug .image-editor button{
	background-color: #0084ff;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0 auto 0px;
    padding: 2px 9px;
    transition: all 0.3s ease-out 0s;
}
#secondImageUploadModel .plucgin-clodebtn button{
	background-color: #0084ff;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 5px 13px;
    transition: all 0.3s ease-out 0s;}
#secondImageUploadModel .profileimg-plug .image-editor .rotat-btn{
	display: block;
    float: left;
    text-align: center;
    width: 100%;
}
#secondImageUploadModel .plucgin-clodebtn button:hover, #secondImageUploadModel .profileimg-plug .image-editor button:hover{background-color:rgba(0, 132, 255, 0.07) !important;}
#secondImageUploadModel .profileimg-plug .image-editor {overflow:hidden;}
#secondImageUploadModel .profileimg-plug .image-editor .cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 0px;
	width: 200px;
	height: 200px;
}
#secondImageUploadModel .profileimg-plug .image-editor .cropit-preview-image-container {cursor: move;}
#secondImageUploadModel .file-input-wrapper {display: inline-block;overflow-y: hidden;}
#secondImageUploadModel .file-input-wrapper .file-input-button {
    background: none repeat scroll 0 0 #0084ff;
    border: 1px solid #0084ff;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 30px;
    line-height: 15px;
    margin-top: 2px;
	margin-bottom:0px;
    padding-top: 7px;
    text-align: center;
    transition: color 500ms ease 0s, background-color 500ms ease 0s;
    width: 140px;
}
#secondImageUploadModel .file-input-wrapper input {display: none;text-align: center;width: 100%;}
#secondImageUploadModel .modal-header{padding: 5px;}
#secondImageUploadModel .modal-body{padding: 5px;overflow:hidden; max-height:700px;}
#secondImageUploadModel .modal-footer{padding: 5px 10px; margin-top:0px;}
#secondImageUploadModel.modal {overflow-x: hidden;overflow-y: scroll;max-height: 625px;top: 10px;}
#secondImageUploadModel .image-editor img { max-width:inherit!important;}


#prodAttImageUploadModel .profileimg-plug{margin:0 0 auto;text-align: center;max-width:100%;}
#prodAttImageUploadModel .plucgin-clodebtn{overflow:hidden;float:left;width:96%;background-color:#fff;}
#prodAttImageUploadModel .side-images{overflow-y:scroll;overflow-x:hidden;max-height:32em;}
#prodAttImageUploadModel .side-images .sideimg-box{padding-top:10px; cursor:pointer;}
#prodAttImageUploadModel .profileimg-plug .cropit-preview{margin: 0 auto;width:100%;}
#prodAttImageUploadModel .plucgin-clodebtn button{
    background-color: #0084ff;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 5px 13px;
    transition: all 0.3s ease-out 0s;}
#prodAttImageUploadModel .profileimg-plug .image-editor .rotat-btn{
    display: block;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
#prodAttImageUploadModel .plucgin-clodebtn button:hover, #prodAttImageUploadModel .profileimg-plug .image-editor button:hover{background-color:rgba(0, 132, 255, 0.07) !important;}
#prodAttImageUploadModel .profileimg-plug .image-editor {overflow:hidden;}
#prodAttImageUploadModel .profileimg-plug .image-editor .cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 0px;
    width: 400px;
    height: 400px;
}
#prodAttImageUploadModel .profileimg-plug .image-editor .cropit-preview-image-container {cursor: move;}
#prodAttImageUploadModel .file-input-wrapper {display: inline-block;overflow-y: hidden;}
#prodAttImageUploadModel .file-input-wrapper .file-input-button {
    background: none repeat scroll 0 0 #0084ff;
    border: 1px solid #0084ff;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 30px;
    line-height: 15px;
    margin-top: 2px;
    margin-bottom:0px;
    padding-top: 7px;
    text-align: center;
    transition: color 500ms ease 0s, background-color 500ms ease 0s;
    width: 140px;
}
#prodAttImageUploadModel .file-input-wrapper input {display: none;text-align: center;width: 100%;}
#prodAttImageUploadModel .modal-header{padding: 5px;}
#prodAttImageUploadModel .modal-body{padding: 5px;overflow:hidden; max-height:700px;}
#prodAttImageUploadModel .modal-footer{padding: 5px 10px; margin-top:0px;}
#prodAttImageUploadModel.modal {overflow-x: hidden;overflow-y: scroll;max-height: 675px;top: 10px;}
#prodAttImageUploadModel .image-editor img { max-width:inherit!important;}

#recoverform {display:none;}
span.required, span.help-inline, .error {color:red;}
.success {color:green;}
label.error {float:left;}
.form-group.error .checkbox, .form-group.error .radio, .form-group.error input, .form-group.error select, .form-group.error textarea {
    color: #b94a48!important;
}
span.btn, span.btn:hover { color:#ffffff;font-size: 14px; }

fieldset {
    border: 2px solid #49CCED;
    margin: 0 0 10px 22px;
    padding: 10px;
    width: 96%;
}
legend {
    border-bottom: 1px solid #49CCED;
}
.bg_dine h3 {
    font-size: 15px;
    color: #333;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin: 10px 0;
}
.row.bg_dine {
    border-bottom: 1px solid #49cced;
}
.dice_h{padding:0;}
.bg_module .dice h4 {

    font-size: 14px;
    color: #333;
    letter-spacing: 0.4px;
    margin: 5px 0;
    padding: 5px 0;
}
.bg_module .dice, .bg_module .dice_single {

    border-bottom: 1px solid #49cced;
    height: 35px;
padding: 5px;

}
.row.bg_module {
    margin-bottom: 20px;
}
.dice_single .check_lable input{
    vertical-align: middle;
}
.dice_single .check_lable span{
    vertical-align: middle;
    display: inline-block;
}
.sidebar .nav .nav > li > a.active {
    font-weight: bold;
}
.browseimageclass {
    left: 0;
    margin: 7px 0 0 15px;
    position: absolute;
    z-index: -1;
}
.panel-heading .add_btn {padding:6px 10px !important;}


.modal-dialog .modal-header > button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    background: #7275f9;
    line-height: 30px;
    z-index: 999;
    padding: 0;
    display: block;
    margin: 0;
    font-weight: 400;
    text-shadow: none;
    border-radius: 30px 30px 30px 0;
}
.modal-dialog .modal-header h4 center {
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 15px;
    margin: 0 !important;
	    padding: 10px 0;
}
.modal-dialog  .modal-header h4 {
    margin-top: 5px;
    margin-bottom: 0;
}
.modal-dialog .modal-header {
    padding: 0 !important;
    background: #fff;
    border: 0;
}
.modal-dialog .modal-footer {
    padding: 7px 10px;
    margin-top: 0px;
    background: #7275f9;
    border: 0;
    padding-right: 30px;
}
.modal-dialog .modal-footer button {
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #000;
    background: #ffffff;
    text-shadow: none;
    border-radius: 3px;
    min-width: 79px;
    padding: 5px 0;
    transition: 600ms all;
}
.modal-dialog .profileimg-plug .image-editor button {
    color: #3d3d3e  !important;
    background-color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-out 0s;
    border: 2px solid #7275f9;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.62);
    margin: 5px;
}
.file-input-wrapper span{line-height:12px !important;}
.rotat-btn br{display:none;}
.cropit-image-zoom-input{
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
      width: 60% !important;
    margin: 0 auto;
}
.cropit-image-zoom-input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.cropit-image-zoom-input::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.cropit-image-zoom-input:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.cropit-image-zoom-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.cropit-image-zoom-input::-moz-range-thumb:hover {
  background: #1abc9c;
}
.cropit-image-zoom-input:active::-moz-range-thumb {
  background: #1abc9c;
}
.cropit-image-zoom-input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}
.status-success {color:green;}
.status-danger {color:red;}
form span.btn-primary, form span.btn-primary:hover, form span.btn-primary:focus,form span.btn-primary:visited,form span.btn-primary:active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #333 !important;
    box-shadow: none;
} 

#testmonialImageUploadModel .profileimg-plug{margin:0 0 auto;text-align: center;max-width:100%;}
#testmonialImageUploadModel .plucgin-clodebtn{overflow:hidden;float:left;width:96%;background-color:#fff;}
#testmonialImageUploadModel .side-images{overflow-y:scroll;overflow-x:hidden;max-height:32em;}
#testmonialImageUploadModel .side-images .sideimg-box{padding-top:10px; cursor:pointer;}
#testmonialImageUploadModel .profileimg-plug .cropit-preview{margin: 0 auto;width:100%;}
#testmonialImageUploadModel .plucgin-clodebtn button{
    background-color: #0084ff;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 5px 13px;
    transition: all 0.3s ease-out 0s;}
#testmonialImageUploadModel .profileimg-plug .image-editor .rotat-btn{
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
#testmonialImageUploadModel .plucgin-clodebtn button:hover, #testmonialImageUploadModel .profileimg-plug .image-editor button:hover{background-color:rgba(0, 132, 255, 0.07) !important;}
#testmonialImageUploadModel .profileimg-plug .image-editor {overflow:hidden;}
#testmonialImageUploadModel .profileimg-plug .image-editor .cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 0px;
    width: 239px;
    height: 239px;
}
#testmonialImageUploadModel .profileimg-plug .image-editor .cropit-preview-image-container {cursor: move;}
#testmonialImageUploadModel .file-input-wrapper {display: inline-block;overflow-y: hidden;}
#testmonialImageUploadModel .file-input-wrapper .file-input-button {
    background: none repeat scroll 0 0 #0084ff;
    border: 1px solid #0084ff;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 30px;
    line-height: 15px;
    margin-top: 2px;
    margin-bottom:0px;
    padding-top: 7px;
    text-align: center;
    transition: color 500ms ease 0s, background-color 500ms ease 0s;
    width: 200px;
}
#testmonialImageUploadModel .file-input-wrapper input {display: none;text-align: center;width: 100%;}
#testmonialImageUploadModel .modal-header{padding: 5px;}
#testmonialImageUploadModel .modal-body{padding: 5px;overflow:hidden; max-height:700px;}
#testmonialImageUploadModel .modal-footer{padding: 5px 10px; margin-top:0px;}
#testmonialImageUploadModel.modal {overflow-x: hidden;overflow-y: scroll;max-height: 625px;top: 10px;}
#testmonialImageUploadModel .image-editor img { max-width:inherit!important;}