media/*************************
*******Typography******
**************************/
@import url('https://fonts.googleapis.com/css?family=Volkhov');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome.eot');
	src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'), url('../fonts/FontAwesome.woff') format('woff'), url('../fonts/FontAwesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('../fonts/Poppins-Thin.ttf');
	src: url('../fonts/Poppins-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('../fonts/Poppins-ExtraLight.ttf');
	src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('../fonts/Poppins-Light.ttf');
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('../fonts/Poppins-Regular.ttf');
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('../fonts/Poppins-Medium.ttf');
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('../fonts/Poppins-SemiBold.ttf');
	src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('../fonts/Poppins-Bold.ttf.ttf');
	src: url('../fonts/Poppins-Bold.ttf.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
::selection {
	background: rgba(255, 64, 129, 0.22);
	color: #000;
}
::-moz-selection {
 background: rgba(255, 64, 129, 0.22);
 color: #000;
}
body {
	background: #fff;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	color: #4e4e4e;
	line-height: 22px;
	height: auto !important;
	overflow-X: hidden;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
}
a:hover, a:focus {
	color: #ef5d35;
	text-decoration: none;
	outline: none;
	transition: all 0.3s ease-out;
}
::-webkit-scrollbar {
    width: 18px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: url(../image/car.png)no-repeat center top;
    background-size: 100%;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fa5a3a;
    background-size: 100%;
    background-repeat: repeat-y;
}
::-moz-scrollbar {
    width: 20px;
    height: 5px;
}
::-moz-scrollbar-thumb {
  background: url(../image/car.png)no-repeat center top;
    background-size: 100%;
}
}
::-moz-scrollbar-track {
 border-radius: 0;
    background-color: #fa5a3a;
    background-size: 100%;
    background-repeat: repeat-y;
}
.form-control:-moz-placeholder {
color:#3f3f3f;
font-weight:500;
font-size:14px;
letter-spacing:1px;
}
.form-control::-moz-placeholder {
color:#3f3f3f;
font-weight:500;
font-size:14px;
letter-spacing:1px;
}
.form-control:-ms-input-placeholder {
color:#3f3f3f;
font-weight:300;
font-size:14px;
letter-spacing:0.2px;
}
.form-control::-webkit-input-placeholder {
color:#3f3f3f;
font-weight:500;
font-size:14px;
letter-spacing:1px;
}
.p-0 {
	padding: 0;
}
.p-l-0 {
	padding-left: 0;
}
.p-r-0 {
	padding-right: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-b-0 {
	padding-bottom: 0;
}
/*==Header==*/
span.cart_item {
	 position: relative;
    background: #3e4c75;
    width: 15px;
    height: 15px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    line-height: 18px;
    font-size: 12px;
    top: -6px;
    margin-left: -5px;
    display: inline-block;
}
.link_drop {
	min-width: 200px;
}
.top_header .collapse ul li.line_link .link_drop li a i {
	padding-right: 8px;
}
.top_header .collapse ul li.line_link .link_drop li a {
	padding: 6px 10px !important;
	color: #3e4c75;
	text-transform: capitalize;
	margin: 0;
	border: 0;
}
.top_header .collapse ul li.line_link .link_drop li a i.fa.fa-shopping-cart {
    padding-right:3px;
}
.top_header .collapse ul li.open>a, .top_header .collapse ul li.open>a:hover, .top_header .collapse ul li.open>a:focus {
	background-color: #fff !important;
	color: #3e4c75 !important;
}
.search_div {
	position: absolute;
	top: 100%;
	right: -15px;
	min-width: 328px;
	background: #fff;
	padding: 8px;
	border: 1px solid #dcdfeb;
	box-shadow: -4px 5px 10px #363c5030;
	width: 328px;
	display: none;
}
.line_link.open ul {
	animation: flipInX 600ms;
}
.search_div form {
	display: table;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
.search_div .input-group {
	width: 100%;
}
.search_div input {
	width: 80%;
	display: table-cell;
	height: 38px;
	padding: 5px;
	border: 1px solid #e2e2e2;
	float: left;
}
.search_div button {
	display: table-cell;
	height: 38px;
	padding: 0;
	text-align: center;
	min-width: 40px;
	border-radius: 0;
	background: #3e4c75;
	color: #fff;
	border-color: #3e4c75;
	float: left;
}
header.top_header .navbar {
	margin: 0;
}
.top_header.fixed .navbar-brand {
	padding: 9px 15px;
}
.top_header.fixed .navbar-brand img {
	width: 125px;
}
.inner_wraper {
	padding-top: 75px;
}
.top_header {
	animation: fadeIn 1s;
	position: fixed;
	border-bottom: 1px solid #dcdfeb;
	top: 0;
	width: 100%;
	right: 0;
	z-index: 1040;
	transition: 1s all;
	animation: fadeInUp 1s;
}
.top_header.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	right: 0;
	background: rgba(44, 40, 88, 0.81);
	z-index: 1040;
	transition: 1s all;
	height: 60px;
	box-shadow: 1px -4px 30px rgba(0, 0, 0, 0.52);
	animation: fadeInDown 1s;
}
.top_header {
	animation: fadeIn 1s;
}
header.top_header.fixed .collapse ul li.line_link a {
	padding: 20px 25px;
}
header.top_header.fixed .collapse ul li a {
	padding: 20px 15px;
}
header.fixed.top_header .collapse ul li a:before {
	content: none;
}
header.top_header .navbar {
	background-color: white;
	border: 0;
	border-radius: 0;
}
.top_header .collapse ul li a {
	color: #293255;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	padding: 27px 15px;
	font-weight: 500;
	position: relative;
}
.top_header .navbar-brand {
	padding: 10px 0;
}
.top_header .collapse ul li a:hover, .top_header .collapse ul li a:hover, .top_header .collapse ul li a:focus {
	color: #fa593a;
}
.top_header .collapse ul li a:hover:before, .top_header .collapse ul li a:focus:before {
	max-width: 100%;
}
.top_header .collapse ul li a:before {
	position: absolute;
	top: 20px;
	left: 8px;
	overflow: hidden;
	padding: 10px 0 0;
	max-width: 0;
	border-bottom: 2px solid #605e72;
	color: #605e72;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.top_header .collapse ul li.line_link a {
	font-size: 16px;
	color: #fa593a;
	border-right: 1px solid #dcdfeb;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0;
}
/*Top Banner*/
section.banner {
	position: relative;
	width: 100%;
	min-height: 510px;
}
.banner_over {
	position: absolute;
	top: 0;
	width: auto;
	left: 0;
	width: 100%;
	height: 100%;
}
.bannre_btn {
	position: absolute;
	left: 7%;
	right: 0;
	bottom: 25%;
	text-align: left;
}
.bannre_btn a span img {
	vertical-align: sub;
}
.bannre_btn a span {
	display: inline-block;
}
.bannre_btn a small, .bannre_btn a strong {
	display: block;
	vertical-align: middle;
}
.bannre_btn a {
	display: inline-block;
	background: #fa5433;
	color: #fff;
	padding: 10px 25px;
	margin: 5px 10px;
	border-radius: 50px;
	min-width: 230px;
	text-align: left;
}
.bannre_btn a strong {
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 500;
	line-height: 20px;
}
.bannre_btn a small {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.bannre_btn a {
	overflow: hidden;
}
.bannre_btn a span.btn_ico {
	margin-right: 12px;
}
.bannre_btn a span {
	animation: rubberBand 1s;
}
.bannre_btn a:hover span {
	animation: flipInX 1s;
}
/*urban section*/
section.urban_sec {
	background: #f4f4f4;
	padding: 1em 0;
	text-align: center;
}
.urban_img a h3 {
	text-transform: uppercase;
	color: #303a58;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: 600;
	line-height: 20px;
	padding-top: 15px;
	margin: 0;
}
.urban_img a .u_img img {
	margin: 0 auto;
	width: 60px;
}
.urban_img a {
	display: block;
}
.urban_img a .u_img img {
	margin: 0 auto;
	width: 50px;
}
.urban_img a:hover .u_img img {
	animation: bounce 1.5s;
}
/*Blog*/
section.home_blog {
	position: relative;
	padding: 2em 0;
}
.h_head h1 span {
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 400;
	color: #191f3a;
	font-size: 50px;
}
.h_head h1 a b {
	line-height: 20px;
	top: 35px;
	display: block;
	position: relative;
	font-weight: 500;
	text-align: center;
	z-index: 2;
}
.h_head h1 a {
	display: inline-block;
	float: right;
	width: 107px;
	height: 107px;
	border: 2px solid #191f3a;
	font-size: 18px;
	color: #191f3a;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 107px;
	vertical-align: middle;
	border-radius: 50%;
	padding: 0 12px;
	position: relative;
	margin-top: -30px;
}
.h_head h1 a::before {
	content: "";
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background: #313c63;
	border-radius: 50%;
	border: 4px solid #fff;
	transform: scale(0);
	transition: 600ms;
}
.h_head h1 a:hover::before {
	transform: scale(1);
	transition: 600ms;
}
.h_head h1 a:hover {
	color: #fff;
	transition: 500ms;
	box-shadow: 1px 1px 50px rgba(66, 78, 114, 0.36);
}
.blog_img.img_sml {
	height: 250px;
	overflow: hidden;
}
.blog_img.img_big {
	height: 250px;
	overflow: hidden;
}
.blog_text h3 span {
	font-size: 15px;
	width: 100%;
	display: inline-block;
	color: #2e2b2b;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 21px;
}
.blog_text h3 em i {
	color: #000000;
	font-size: 14px;
	margin-right: 6px;
}
.blog_text h3 em {
	font-style: normal;
	font-size: 12px;
	color: #6d6c6c;
	vertical-align: text-top;
	text-align: right;
	display: inline-block;
	float: right;
	font-weight: 500;
}
.blog_rect .row {
	margin: 0;
}
.blog_text .blog_date .bdate {
	color: #f6412d;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 6px 0;
	padding-bottom: 0;
}
.blog_text .blog_date .blog_by {
	display: inline-block;
	color: #4b4949;
	font-size: 13px;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #303a62;
	padding-top: 5px;
}
.blog_text h3 {
	margin: 0;
	padding: 10px 0 10px 0;
}
.blog_text {
	position: relative;
	border-left: 1px solid #bdc1d1;
	padding: 0 13px 0px 13px;
	margin-top: 10px;
}
.blog_text::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	background: #bdc1d1;
	height: 1px;
	width: 15%;
}
.read_btn {
	color: #fa593a;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	left: 15%;
	top: 12px;
	font-size: 11px;
	transition: 1s all;
	font-weight: 600;
}
.blog_box a {
	display: block;
	margin-bottom: 35px;
}
.blog_box {
	padding-bottom: 20px;
}
.blog_rect {
	padding-top: 25px;
}
.blog_box a:hover .read_btn {
	animation: slideInUp 1s;
	color: #f6412d;
}
.blog_box a:hover {
	box-shadow: 0px 15px 40px rgba(145, 170, 220, 0.23);
	transform: translateY(-5px);
	transition: 600ms all;
}
.blog_box a {
	transition: 600ms all;
}
/*testimonial*/
section.testimonial {
	padding: 1em 0 2em;
	position: relative;
	background: url("../image/tbg.png") repeat center #f5f5f6;
	background-attachment: fixed;
}
.center_head h1 span {
	font-size: 22px;
	text-align: center;
	display: block;
	font-weight: 600;
	text-transform: uppercase;
}
div#testiCarousel {
	margin-top: 0em;
}
.carousel-inner .item .test_content {
	background: #fff;
	padding: 30px 40px;
}
.testi_detail span.tes_img {
	width: 72px;
	height: 64px;
	background: #f6412d;
	border-radius: 5px;
	vertical-align: middle;
	margin-right: 15px;
}
.testi_detail span.tes_img .i_img {
	width: 55px;
	height: 55px;
	border-radius: 50px;
	overflow: hidden;
	margin: 0 auto;
	top: 5px;
	position: relative;
}
.testi_detail span.tes_img .i_img img {
	width: 100%;
}
.testi_detail span.tes_detil small, .testi_detail span.tes_detil strong {
	display: block;
}
.testi_detail span.tes_detil small {
	color: #f6412d;
	font-size: 15px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-weight: 500;
	line-height: 22px;
}
.testi_detail span.tes_detil strong {
	color: #191e30;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0.3px;
}
.test_content p {
	color: #191e30;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: 500;
	line-height: 28px;
	padding-bottom: 1em;
}
.carousel-inner .item .test_content {
	max-width: 538px;
	margin: 0 auto;
	padding: 3em 3em;
	background: url("../image/quout.png")no-repeat right bottom #fff;
	background-position-y: 80%;
	background-position-x: 90%;
	box-shadow: 4px 5px 31px rgba(0, 0, 0, 0.28);
}
.testi_detail span {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.item_tu {
	position: relative;
}
.item_tu {
	position: relative;
	margin: 4em;
}
.item_tu::before {
	content: "";
	width: 90%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	top: 0;
	position: absolute;
	z-index: 1;
	background: #f6412d;
	box-shadow: 4px 5px 31px rgba(0, 0, 0, 0.28);
	transition: 1s all;
}
.item.active .item_tu::before {
	transform: rotate(-8deg);
	transition: 1s all;
}
.test_content {
	position: relative;
	z-index: 2;
}
.carousel-control {
	background-image: none !important;
	color: red !important;
	font-size: 10px;
}
.carousel-control {
	background-image: none !important;
	font-size: 10px;
	height: 30px !important;
	top: 50%;
	width: 0%;
}
.carousel-control i {
	top: 50%;
	color: #959393;
	font-size: 50px;
}
.carousel-indicators {
	bottom: -10px;
}
.carousel-indicators li {
	border: 1px solid #313b63;
}
.carousel-indicators .active {
	background-color: #e53e2b;
	border-color: #e53e2b;
}
/*footer*/
footer {
	background: #313b63;
	position: relative;
}
.f_th h3 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 400;
	padding: 10px 0;
}
.f_th ul li a, .f_th p {
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #8b90a5;
	font-weight: 500;
	transition: 600ms all;
}
.f_th ul li a:hover {
	color: #fff;
	transition: 600ms all;
}
.f_th ul li {
	list-style: none;
	padding: 3px 0;
}
.f_th ul {
	margin: 0;
	padding: 0;
}
.news_letter input::placeholder {
 font-size: 13px;
 letter-spacing: 0.5px;
 color: #8b90a5;
 font-weight: 500;
}
.news_letter input {
	width: 100%;
	border: 0;
	height: 37px;
	padding: 5px 15px;
	border-radius: 50px;
	background: #262d4c;
	color: #fff;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: 500;
	outline: none;
}
.news_letter {
	position: relative;
}
.news_letter button {
	position: absolute;
	top: 8px;
	right: 0;
	/*height: 100%;*/
	background: transparent;
	border: 0;
	color: #5e6994;
	font-size: 19px;
	padding-right: 13px;
	z-index: 2;
}
.news_letter button:hover {
	color: #fff;
	animation: bounceIn 1s;
}
nav.social small {
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 400;
	padding: 8px 0;
	display: inline-block;
	margin-right: 15px;
}
nav.social a {
	width: 23px;
	height: 23px;
	background: #fff;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	border-radius: 50px;
	color: #313b63;
	margin: 0 0 0 5px;
}
.foot_bot {
	text-align: center;
	background: #2c3559;
	padding: 18px 15px;
}
.foot_bot p, .foot_bot p {
	margin: 0;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.foot_top {
	padding: 1em 0;
}
.mob_foot {
	display: none;
}
/*signup form*/
.form_bg {
	box-shadow: 0 0 76px 16px rgba(202, 208, 228, .39);
	margin: 3em 0;
	border-radius: 5px;
	background: url("../image/f_bg.png")no-repeat top right #fff;
	padding: 2em;
}
.form_lbar .back_h {
	padding-bottom: 1em;
}
.form_lbar .back_h a {
	font-size: 14px;
	color: #393939;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}
.fl_text img {
	margin: 0 auto;
}
.fl_text {
	text-align: center;
	padding: 2em 0;
}
.fl_text > img {
	margin-bottom: 3em;
}
.fl_text h3 {
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
}
.fl_text p {
	color: #616161;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding: 1em 2em;
	font-weight: 400;
}
.form_anim > img:nth-child(1) {
	position: relative;
	z-index: 2;
}
.form_anim {
	position: relative;
}
.form_anim > img:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: jello 3s infinite;
	z-index: 1;
}
.form_anim {
	position: relative;
	width: 350px;
	margin: 0 auto;
	overflow: hidden;
}
.form_tight {
	padding: 2em;
	background: #fff;
	width: 390px;
	box-shadow: -2px 2px 30px 1px rgba(0, 0, 0, 0.15);
	min-height: 405px;
	margin-top: 2em;
}
.form_tight h5 {
	text-transform: uppercase;
	text-align: center;
	color: #2f3a62;
	letter-spacing: 1px;
	font-weight: 600;
	padding-bottom: 2em;
}
.form_tight form input::placeholder {
 font-size: 13px;
 color: #7f8394;
 letter-spacing: 0.5px;
 font-weight: 400;
}
.form_tight form input {
	border: 0;
	border-bottom: 1px solid #bdc1ce;
	box-shadow: none;
	height: 38px;
	border-radius: 0;
	padding-left: 42px;
	color: #2f3a62;
	font-size: 13px;
	font-weight: 500;
}
.form_tight form span.input_decor {
	position: absolute;
	background: #fff;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
}
.form_tight form span.input_decor::after {
	content: "";
	width: 1px;
	height: 15px;
	background: #bdc1ce;
	position: absolute;
	right: 0;
	top: 10px;
	display: flex;
	vertical-align: middle;
}
.form_tight form input[type="submit"] {
	background: #f6412d;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	padding: 11px 0;
	border: 0;
	height: auto;
	border-radius: 5px;
	margin-top: 25px;
	transition: 600ms all;
}
.dub_btn {
	width: 100px;
	background: rgba(255, 255, 255, 0.38);
	position: absolute;
	height: 100%;
	left: -15%;
	transform: rotate(-54deg);
	transition: 800ms all;
}
.hover_btn:hover .dub_btn {
	transform: translateX(500px)rotate(-54deg);
	left: auto;
	transition: 800ms all;
}
.form_tight form input[type="submit"]:hover {
	background: #3d4c75;
	width: 100%;
	transition: 600ms all;
}
.hover_btn {
	position: relative;
}
.form_tight form .form-group.error input {
	border-color: #f6412d;
}
.form_tight form .form-group.error span.input_decor::after {
	background: #f6412d;
}
.form-group {
	position: relative;
}
.form_tight form .form-group.error p {
	position: absolute;
	bottom: 10px;
	color: red;
	line-height: 0;
	text-align: right;
	right: 0;
	font-size: 10px;
	letter-spacing: 0.4px;
	font-weight: 600;
}
.form_linking p a {
	color: #f6412d;
	font-weight: 500;
	margin-left: 6px;
	font-size: 13px;
}
.form_linking p {
	font-size: 12px;
	margin: 0;
	color: #828695;
	letter-spacing: 0.5px;
	font-weight: 400;
}
.form_linking {
	text-align: center;
}
.inline_check {
	width: auto;
	display: inline-block;
	margin: 0;
}
.inline_check input {
	height: auto !important;
}
.inline_check {
	width: auto;
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #7f8394;
	letter-spacing: 0.5px;
}
.inline_check span.checkmark {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #c4cbda;
	left: 0;
	top: 8px;
	border-radius: 2px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px #f6412d;
	transition: 600ms all;
}
.inline_check input {
	height: auto !important;
	position: relative;
	z-index: 1;
	top: 0;
	left: -1px;
	opacity: 0;
}
.inline_check:hover input ~ .checkmark {
	background-color: #3f4d76;
	transition: 600ms all;
}
/* When the checkbox is checked, add a blue background */
.inline_check input:checked ~ .checkmark {
	background-color: #3f4d76;
	border-radius: 5px;
	transition: 600ms all;
}
.forgot {
	position: relative;
}
.forgot a {
	font-size: 13px;
	color: #e12721;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.form_linking h3 {
	color: #000000;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
	margin: 10px 0;
}
.f_social a {
	min-width: 160px;
	height: 41px;
	display: inline-block;
	line-height: 42px;
	color: #fff !important;
	font-weight: 400;
	font-size: 14px;
	margin: 0 2px;
	border-radius: 4px;
	text-align: left;
	padding: 0px 15px;
	letter-spacing: 1px;
}
.f_social a:nth-child(1) {
	background: #3e4c75;
}
.f_social a:nth-child(2) {
	background: #f6412d;
}
.f_social a i:nth-child(1) {
	color: #3e4c75;
}
.f_social a:nth-child(2) i {
	color: #f6412d;
}
.f_social a i {
	width: 30px;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	text-align: center;
	border-radius: 50px;
	margin-right: 10px;
}
.f_social {
	margin-bottom: 10px;
}
.inline_check {
	position: relative;
}
.form_tight p {
	color: #616161;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding: 1em 1em;
	font-weight: 400;
}
/*account page*/
.bred_top .container {
	padding: 0;
}
.bred_top .container .breadcrumb {
	background: #eaeaea;
	border-radius: 0;
	margin: 0;
}
section.bred_top {
	background: #eaeaea;
	width: 100%;
	position: relative;
}
.bred_top .container .breadcrumb li a {
	color: #293255;
	font-weight: 500;
}
.bred_top .container .breadcrumb li {
	color: #888da0;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 13px;
}
.bred_top .container .breadcrumb>li+li:before {
	content: "\f105";
	font-family: "Fontawesome";
	font-size: 15px;
	color: #888da0;
	margin: 0 2px;
	font-weight: 300;
}
.accoutbase .container {
	padding: 0;
}
.accoutbase {
	background: #eeeeee;
	padding: 2em 0;
	position: relative;
}
.whitebadse {
	background: #fff;
	padding: 20px;
}
.account_left ul li a {
	color: #393939;
	font-weight: 500;
	text-transform: capitalize;
	font-size: 14px;
	display: block;
	background: #f5f5f8;
	padding: 12px 15px;
	letter-spacing: 0.5px;
}
.account_left ul li {
	list-style: none;
}
.account_left ul {
	display: block;
	padding: 0;
}
.account_left ul li.active a {
	border-left: 3px solid #f6412e;
}
.account_dit h4 {
	text-transform: uppercase;
	color: #2f3a62;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.account_dit {
	padding-left: 1.3em;
}
.my_01 h3 {
	color: #282828;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.4px;
}
.my_01 p {
	font-size: 13px;
	color: #5e5d5d;
	padding: 10px 0;
	margin: 0;
	line-height: 20px;
}
.acc_h {
	text-transform: capitalize;
	font-size: 17px;
	color: #191919;
	letter-spacing: 0.5px;
	margin: 20px 0;
}
.accshadow_box {
	padding: 2.5em 2em;
	box-shadow: 1px 1px 20px 2px rgba(207, 219, 220, 0.62);
	margin: 0 2em;
}
.accshadow_box h5 {
	text-transform: capitalize;
	color: #2f3a62;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: 500;
	margin-top: 0;
	padding-bottom: 10px;
}
.accshadow_box p {
	padding: 3px 0;
	margin: 0;
	font-size: 13px;
	font-weight: 500;
	color: #8a8787;
	letter-spacing: 0.5px;
}
.con_info a {
	display: inline-block;
	background: #47567c;
	color: #fff;
	text-transform: capitalize;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 5px 15px;
	margin-right: 5px;
	margin-top: 10px;
	border-radius: 3px;
}
.acc_h a {
	margin-left: 15px;
	text-transform: uppercase;
	color: #f14336;
	font-size: 13px;
}
.addres_stic {
	margin: 0;
	background: #f5f5f8;
	padding: 15px;
}
.add_h {
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
}
.add_h h2 {
	margin-top: 0;
	text-transform: capitalize;
	color: #2f3a62;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: 500;
	padding-bottom: 5px;
}
.add_h p {
	padding: 3px 0 5px;
	margin: 0;
	font-size: 13px;
	font-weight: 500;
	color: #5e5d5d;
	letter-spacing: 0.5px;
	line-height: 25px;
}
.add_h a i {
	margin-right: 5px;
}
.add_h a {
	margin-top: 1em;
	display: inline-block;
	margin-left: 15px;
	text-transform: uppercase;
	color: #f14336;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
}
.radio {
	margin: 0.5rem;
}
.radio input[type="radio"], .radio input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}
.radio input[type="radio"] + .radio-label:before, .radio input[type="checkbox"] + .radio-label:before {
	content: '';
	background: #ffffff;
	border-radius: 100%;
	border: 2px solid #d0cad8;
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	top: 0;
	margin-right: 1em;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before, .radio input[type="checkbox"]:checked + .radio-label:before {
	background-color: #f6412e;
	box-shadow: inset 0 0 0 3px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before, .radio input[type="checkbox"]:focus + .radio-label:before {
	outline: none;
	border-color: #f6412e;
}
.radio input[type="radio"]:disabled + .radio-label:before, .radio input[type="checkbox"]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 3px #f4f4f4;
	border-color: #f6412e;
	background: #f6412e;
}
.radio input[type="radio"] + .radio-label:empty:before, .radio input[type="checkbox"] + .radio-label:empty:before {
	margin-right: 0;
}
.accshadow_box .form-group input {
	border: 1px solid #d4e4f4;
	border-radius: 0;
	height: 45px;
	box-shadow: none;
}
.accshadow_box .form-group select {
    border: 1px solid #d4e4f4;
    border-radius: 0;
    height: 45px;
    box-shadow: none;
}
.accshadow_box .form-group .radio {
	display: inline-block;
	padding-left: 0;
	vertical-align: text-bottom;
	margin: 0;
	margin-right: 10px;
	margin-top: 10px;
}
.cen_btn > div a, .cen_btn > div input {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	border: 0 !important;
	background: #f6412e;
	display: block;
	height: auto !important;
	padding: 10px 15px;
	min-width: 100px;
	margin: 10px 3px;
	border-radius: 3px !important;
	color: #fff;
	text-align: center;
	opacity: 1;
	transition: 600ms all;
}
.cen_btn > div a:hover, .cen_btn > div input:hover {
	box-shadow: 1px 4px 20px rgba(51, 51, 51, 0.3);
	transform: translateY(-2px);
	transition: 600ms all;
}
.cen_btn > div a {
	background: #2f3a61;
}
.cen_btn {
	text-align: center;
}
.cen_btn > div {
	display: inline-block;
}
.ac-hlink {
	display: inline-block;
	text-transform: uppercase;
	color: #2f3a62;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
}
.default_a {
	position: relative;
	background: #dcdfeb;
}
/*wishlist*/
.account_wishlist {
	padding-left: 1em;
	background: #f5f5f8;
	margin-top: 2em;
	padding-right: 1em;
}
.whish_head h3 {
	color: #191919;
	font-size: 14px;
	letter-spacing: 1px;
}
.whish_head {
	margin: 0;
}
.whish_head h3 {
	color: #191919;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 8px 0;
	font-weight: 600;
}
.account_wishlist .p_wish {
	padding: 0 10px;
	text-align: center;
}
.whish_detail {
	background: #fff;
	box-shadow: 1px 3px 20px 2px rgba(207, 219, 220, 0.62);
	margin: 0;
}
.whish_detail>.row {
	margin: 0;
	border-bottom: 1px solid #d0d8e0;
	padding: 1em 0;
}
.wishp_img a img {
	margin: 0 auto;
}
.wishp_img a {
	display: block;
	background-color: #f5f5f5;
	padding: 1em 1em;
}
.wis_acart {
	display: inline-block;
}
.wish_pname, .wish_price, .wis_acart, .del_wish {
	height: 100px;
	line-height: 100px;
	display: inline-block;
}
.wish_pname a, .wish_price p {
	font-size: 14px;
	color: #313131;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.wis_acart button, .del_wish button {
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.wis_acart button {
	background: #f6412e;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	border-radius: 1px;
	transition: 300ms all;
}
.wis_acart button:hover {
	transition: 300ms all;
	background: #404e77;
	color: #fff;
}
.del_wish button {
	background: transparent;
	border: 0;
	font-size: 22px;
	color: #aba8a8;
	transition: 300ms all;
}
.del_wish button:hover {
	color: #f6412e;
}
.cen_t {
	text-align: center;
}
.whish_detail.ordered > .row {
	margin: 0;
	padding: 0;
}
.ordered .whish_detail > .row .col-md-12.col-sm-12.col-xs-12 {
	padding: 0;
}
.oredr_head {
	background: #f5f5f8;
	padding: 15px;
	margin-bottom: 15px;
}
.ordered {
	padding-top: 1em;
}
.ordered .whish_detail {
	box-shadow: 1px 1px 5px 1px rgba(207, 219, 220, 0.62);
}
.ordered .whish_detail > .row {
	padding: 0;
	border: 0;
}
.oredr_head .order_help a i {
	color: #f6412e;
}
.oredr_head .order_help {
	float: right;
}
.oredr_head .order_help a {
	border: 1px solid #cbcbe3;
	display: inline-block;
	background: #fff;
	border-radius: 1px;
	margin-left: 5px;
	color: #2d2c2c;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 5px 15px;
}
.oredr_head .order_id p {
	margin: 0;
	font-size: 13px;
	color: #fff;
	background: #f6412e;
	text-transform: uppercase;
	padding: 6px 15px;
	border-radius: 1px;
	letter-spacing: 1px;
}
.oredr_head .order_id, .oredr_head .order_help {
	display: inline-block;
}
.ordered .wish_pname, .ordered .wish_price {
	line-height: 21px;
	height: auto;
	min-height: 100px;
	padding: 12px 5px 0;
}
.ordered .wish_pname p strong {
	font-weight: 500;
}
.ordered .wish_pname p {
	color: #6f6c6c;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 1px;
}
.delever p {
	font-size: 13px;
	letter-spacing: 0.3px;
	margin: 0;
}
.delever span {
	color: #4d4c4c;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.order_traker {
	padding: 1em 0;
	margin: 10px 0;
	margin-top: 0px;
}
.order_traker ul li span {
	width: 15px;
	height: 15px;
	display: block;
	background-color: #d2d3d4;
	margin: 0 auto;
	border-radius: 50px;
	margin-bottom: 10px;
	z-index: 2;
	position: relative;
}
.order_traker ul li {
	list-style: none;
	display: inline-block;
	color: #3771a6;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	position: relative;
	width: 24%;
	cursor: pointer;
}
.order_traker ul {
	padding: 0;
	margin: 0;
	width: 100%;
	display: table;
	text-align: center;
	position: relative;
}
.order_traker ul::before {
	/* content: "";*/
	width: 71%;
	height: 1px;
	left: 0;
	right: 0;
	background: #f4412e;
	position: absolute;
	top: 7px;
	margin: 0 auto;
}
.order_traker ul li::after {
	content: "";
	width: 100%;
	background: #d2d3d4;
	position: absolute;
	right: 0;
	z-index: 1;
	height: 1px;
	left: -50%;
	top: 7px;
}
.order_traker ul li:nth-child(1)::after {
	content: none;
}
.order_traker ul li.green::after {
	background: #00ce96;
}
.order_traker ul li.green span {
	background: #00ce96;
}
.order_tool::before {
	width: 100%;
	height: 0;
	content: "\f0dd";
	bottom: 11px;
	left: 0;
	right: 0;
	position: absolute;
	margin: 0 auto;
	font-family: Fontawesome;
	font-size: 22px;
	color: #f5f5f5;
	text-shadow: 0 2px 0px #c1c1da;
}
.order_tool {
	width: 100px;
	border: 1px solid #c1c1da;
	font-size: 11px;
	line-height: 15px;
	font-weight: 500;
	padding: 5px 4px;
	top: -55px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #262829;
	background: #f5f5f5;
	text-align: center;
	height: 45px;
	opacity: 0;
	transition: 1s all;
	letter-spacing: -0.1px;
}
.order_traker ul li:hover .order_tool {
	animation: bounce 1s;
	opacity: 1;
}
.tracor_tot {
	border-top: 1px solid #d0d8e0;
	border-bottom: 1px solid #d0d8e0;
	margin-bottom: 15px;
	padding: 10px 20px;
}
.tracor_tot {
	font-size: 13px;
	color: #121212;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.tracor_tot strong {
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #5d5b80;
	font-weight: 600;
	text-transform: capitalize;
	padding-right: 10px;
}
.tracor_tot .o_to, .tracor_tot .o_on {
	display: inline-block;
}
.tracor_tot .o_to {
	float: right;
}
/*blog page*/
.blog_page .whitebadse {
	padding: 20px 0;
}
.blog_page .whitebadse .blog-l {
	padding-left: 0;
}
.blog_page .whitebadse .blog-l .blog_filter {
	border: 1px solid #cec9c9;
	padding: 15px;
}
.blog_filter h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	color: #151825;
	letter-spacing: 1px;
	text-align: left;
	margin: 5px 0 10px 5px;
}
.blog_filter ul li a span {
	display: inline-block;
	float: right;
	width: 18px;
	height: 18px;
	background: #ffcc00;
	text-align: center;
	line-height: 18px;
	border-radius: 2px;
	font-size: 13px;
	color: #151825;
}
.blog_filter ul li a {
	position: relative;
	color: #151825;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	padding: 18px 0px 8px;
	display: block;
	border-bottom: 1px solid #cec9c9;
}
.blog_filter ul li:last-child a {
	border: 0;
}
.blog_filter ul li {
	list-style: none;
	padding: 0 10px;
}
.blog_filter ul {
	padding: 0;
	margin: 0;
	display: block;
}
.blog_filter ul li a {
	position: relative;
	background: url("../image/labal.png")no-repeat center left;
	padding-left: 20px;
	background-position-y: 23px;
}
.b_box a::after {
	position: absolute;
	width: 50%;
	height: 1px;
	background: #303a62;
	content: "";
	bottom: 0;
}
.b_box a {
	display: block;
	position: relative;
	padding-bottom: 5px;
	margin-bottom: 28px;
}
.b_img {
	position: relative;
}
.b_img span {
	position: absolute;
	display: inline-block;
	background: #f6422d;
	bottom: 5px;
	right: 5px;
	color: #fff;
	padding: 0 8px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 500;
}
.bt_text .bt_v span {
	display: inline-block;
}
.bt_text .bt_v span.bt_time {
	float: right;
}
.bt_text .bt_v span i {
	margin-right: 6px;
}
.bt_text .bt_v span {
	display: inline-block;
	font-size: 12px;
	color: #adadad;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-weight: 500;
	padding: 7px 0;
}
.bt_text h3 {
	color: #2e2b2b;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 20px;
	margin: 0;
	padding: 5px 0 10px 0;
}
.bt_text p strong {
	color: #989393;
	letter-spacing: 0.5px;
	font-weight: 500;
	margin-right: 5px;
}
.bt_text p {
	font-size: 14px;
	color: #242121;
	letter-spacing: 0.5px;
}
.b_add {
	padding: 0;
}
.add-act a {
	display: block;
	margin-bottom: 35px;
}
.blog_filter {
	margin-bottom: 35px;
}
.list_filter .panel-heading .panel-title {
	border: 0;
	margin: 0 15px;
}
.list_filter .panel-heading {
	padding: 0;
	border: 0;
	background: #fff;
}
.list_filter .panel-title>a {
	display: block;
	padding: 10px;
}
.list_filter .panel-default>.panel-heading+.panel-collapse .panel-body {
	border: 0;
	margin: 0 15px;
	padding: 0;
}
.list_filter .panel.panel-default {
	border-radius: 0;
	border: 0;
}
.list_filter {
	border: 1px solid #cec9c9;
	padding: 15px 15px 25px 15px;
	margin-bottom: 2.5em;
}
.list_filter .panel-title>a {
	display: block;
	padding: 10px 0 10px;
	color: #151825;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	border-bottom: 1px solid #cec9c9;
}
.list_filter .panel-default>.panel-heading+.panel-collapse .panel-body ul li label,
.list_filter .panel-default>.panel-heading+.panel-collapse .panel-body ul li a {
	color: #151825;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	padding: 0px 0px 7px;
	display: block;
	width: 100%;
	vertical-align: middle;	
}
.list_filter .panel-default>.panel-heading+.panel-collapse .panel-body ul li a:hover,
.list_filter .panel-default>.panel-heading+.panel-collapse .panel-body ul li a.active {
	color: #f6422d;
}
.list_filter .panel-default>.panel-heading+.panel-collapse .panel-body ul li {
	list-style: none;
	margin: 0;
}
.list_filter .panel-default>.panel-heading+.panel-collapse .panel-body ul {
	padding: 0;
}
.list_filter .panel-title>a:after {
	font-family: "FontAwesome";
	content: "\f107";
	float: right;
	color: #333;
	font-size: 22px;
	line-height: 12px;
}
.list_filter .panel-title>a.collapsed:after {
	content: "\f105";
}
.list_filter h3 {
	color: #151825;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	margin: 0 15px;
	padding: 13px 0;
}

/*23-oct-2018*/
ul.chck-list {
    height: 235px;
    overflow-y: scroll;
	padding-top:15px!important
}
.list_filter .panel-title > a.car-brand::after {
    content: none;
}

.pro_1 h2 {
	text-transform: uppercase;
	color: #293255;
	font-size: 19px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #cec9c9;
}
.pro_2 {
	padding:5px 0;
	border-bottom: 1px solid #cec9c9;
}
.pro_2 .shot_p {
	float: right;
}
.pro_2 .tot_pro, .pro_2 .shot_p {
	display: inline-block;
}
.tot_pro span {
	font-size: 15px;
	color: #293255;
	text-transform: capitalize;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.shot_p {
	vertical-align: middle;
}
.shot_p .select_pb {
	display: inline-flex;
	line-height: 28px;
}
.shot_p .select_pb select {
	background: #ececec;
	border: 1px solid #c1c1c1;
	padding: 5px;
	border-radius: 3px;
	margin-left: 5px;
}
.list_box .pc_box, .list_box {
	position: relative;
}
.list_box .pc_box {
	padding: 5px;
	overflow: hidden;
	min-height: 200px;
}
.list_box .pc_box .p_img img {
	margin: 0 auto;
	margin-top: 3em;
	max-height: 160px;
}
.list_box .pc_box .p_img {
	margin: 15px 0;
	position: relative;
	text-align: center;
}
.list_box .pc_box .p_img a.atc_btn {
	display: inline-block;
	color: #fff;
	background: #f6422d;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.5px;
	padding: 10px;
	line-height: 15px;
	margin: 10px 0;
	opacity: 0;
	animation: zoomOut 500ms;
	margin-bottom: 0;
	position: absolute;
	bottom: 25px;
	margin: 0 auto;
	left: 0;
	width: 45%;
	right: 0;
}
.pc_box span.add_wish a {
	color: #abb7da;
	font-size: 15px;
}
.pc_box span.add_wish {
	position: absolute;
	top: 10px;
	right: 15px;
}
.list_box:hover span.add_wish a {
	color: #f6422d;
}
.list_box:hover .pc_box .p_img a {
	opacity: 1;
	animation: slideInUp 500ms;
}
.p_data {
	text-align: center;
	padding: 10px 0;
}
.list_data {
	padding: 2em 0;
}
.p_data p {
	margin: 0;
	padding: 5px 0;
}
.p_data p a {
	font-size: 13px;
	color: #1d1d1d;
	text-transform: capitalize;
}
.rating i {
	color: #f6422d;
	font-size: 13px;
}
.rating {
	padding-bottom: 5px;
}
.pro_price span.act_pri {
	color: #f6422d;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.pro_price span.thro_pri {
	color: #949292;
	text-decoration: line-through;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.pro_price span.off_pri {
	color: #0e2de6;
	font-size: 13px;
	letter-spacing: 0.5px;
}
.list_box:hover {
	box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
	transition: 600ms all;
}
.list_box {
	margin-bottom: 25px;
	border: 1px solid #ece8e8;
}
.per_page {
padding: 5px 0;

text-align: left;

font-size: 14px;

font-weight: 500;

color: #07080d;

letter-spacing: 0.5px;
}
.shot_p {

    padding: 5px 0;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: #07080d;
    letter-spacing: 0.5px;

}
.per_page select {
	max-width: 72px;height: 28px;
	width: 65px;
	padding: 0 10px;
	background: #ececec;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	margin: 0 5px;
}
/*flickety button*/
.flickity-prev-next-button.previous {
	left: 0;
	box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
}
.flickity-prev-next-button.next {
	right: 0;
	box-shadow: -1px 2px 10px -1px rgba(0,0,0,.3);
}
.flickity-button {
	background-color: hsla(0,0%,100%,.98);
	border-radius: 2px;
	height: 75px;
	width: 44px;
}
.flickity-button-icon {
	fill: #343f5f;
}
.flickity-prev-next-button .flickity-button-icon {
	width: 50%;
	left: 24%;
}
/*cart page css*/
.cart_head h3 {
	margin: 15px 0;
	color: #111319;
	font-size: 30px;
}
.cart_table table {
	width: 100%;
	border: 0;
}
.cart_table table thead tr td {
	border: 0;
	font-size: 14px;
	color: #000000;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 10px;
	border-bottom: 1px solid #c1c0c0;
}
.cart_table table tbody tr td {
	border: 0;
	border-bottom: 1px solid #c1c0c0;
	padding: 10px;
}
.cart_table table thead {
	border: 0;
}
.cart_table table thead tr td.cp_name {
	width: 300px;
}
.cart_img a img {
	margin: 0 auto;
}
.cart_img a {
	display: block;
	background: #f5f5f5;
	padding: 5px;
}
.cart_name p a, .cart_price {
	text-transform: uppercase;
	color: #313131;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.3px;
}
.cart_price {
	font-size: 18px;
	font-weight: 500;
}
.layout-inline input {
	width: 30px;
	text-align: center;
	border: 1px solid #c1bfbf;
	height: 28px;
	line-height: 20px;
	font-size: 16px;
}
.layout-inline a {
	color: #777c8e;
	font-size: 12px;
	padding: 0 3px;
}
.cart_cen {
	text-align: center;
}
td.c_trash {
	width: 20px;
	text-align: right;
	font-size: 16px;
	color: #a2a2b5;
}
td.c_trash a {
	color: #a2a2b5;
	display: block;
}
td.c_trash:hover a {
	color: #F30;
}
.cart_summry h3 {
	font-weight: 600;
	color: #000000;
	margin: 0 0 10px 0;
	font-size: 20px;
	letter-spacing: 0.5px;
}
.cart_summry {
	background: #f5f5f5;
	padding: 10px;
}
.cart_summry ul li span {
	text-align: right;
	float: right;
	font-size: 17px;
}
.cart_summry ul li {
	list-style: none;
	font-size: 14px;
	color: #000000;
	padding: 10px 0;
	border-top: 1px solid #c1c0c0;
	letter-spacing: 0.5px;
}
.cart_summry ul {
	padding: 0;
	margin: 0;
	display: block;
}
.cart_summry ul li.c_total {
	font-size: 17px;
	text-transform: capitalize;
	font-weight: 800;
	padding: 12px 0;
}
.pr_check {
	padding: 10px 0;
	text-align: center;
}
.pr_check a {
	display: inline-block;
	background: #f6422d;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 9px 10px;
	border-radius: 3px;
	width: 90%;
}
.cartbadse {
	padding: 1em 0;
}
.p_detail_t h3 {
	font-size: 22px;
	color: #000;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 15px;
}
.rate_review {
	padding-bottom: 14px;
}
.rate_review .reviw_C {
	font-size: 14px;
	color: #0e2de6;
	letter-spacing: 0.5px;
	padding: 0 15px;
}
.rate_review .add_review a {
	color: #fa5a3a;
	letter-spacing: 0.5px;
	display: inline-block;
}
.detail_price span.old_p {
	color: #a4a3ab;
	letter-spacing: 1px;
	font-size: 21px;
	padding: 0 12px;
	text-decoration: line-through;
}
.detail_price span.tot_p {
	font-size: 25px;
	color: #000;
	font-weight: 600;
	letter-spacing: 1px;
}
.detail_price span.off_p {
	color: #0e2de6;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.detail_price {
	padding-bottom: 10px;
}
.buy_addbtn a {
	background: #f6412d;
	color: #fff;
	display: inline-block;
	padding: 2px 10px;
	line-height: 30px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 2px;
	margin: 0 5px 5px 0;
	min-width: 100px;
	text-align: center;
	border: 1px solid #f6412d;
	vertical-align: middle;
}
.buy_addbtn a:first-child {
	background: transparent;
	color: #f6412d;
}
.buy_addbtn a:hover {
	background: #3e4c75;
	border-color: #3e4c75;
	color: #fff;
}
.buy_addbtn {
	padding-bottom: 10px;
}
.seller p i {
	font-style: normal;
	background: #f6412d;
	display: inline-block;
	color: #fff;
	padding: 3px 10px 0 10px;
	line-height: 18px;
	vertical-align: middle;
	border-radius: 30px;
}
.seller p span {
	color: #f02823;
	font-weight: 600;
	padding: 0 5px;
}
.seller {
	border-top: 1px solid #c7c3c3;
	border-bottom: 1px solid #c7c3c3;
	padding-top: 15px;
}
.wish_share {
	padding: 15px 0;
	border-bottom: 1px solid #c7c3c3;
	line-height: 20px;
}
.wish_share span a {
	color: #9a9595;
	letter-spacing: 0.5px;
	margin-right: 15px;
}
.wish_share span a:hover, .wish_share span a.active {
	color: #3e4c75;
}
.detail_dicription {
	padding: 13px 0;
}
.detail_dicription {
	padding: 13px 0;
	color: #121111;
	letter-spacing: 0.3px;
	line-height: 21px;
}
.image_home {
	width: 300px;
	height: 290px;
	background: #ffffff;
	text-align: center;
	line-height: 290px;
	border: 1px solid #eaeae8;
	margin-bottom: 10px;
}
.image_home img {
	box-shadow: none;
}
.xzoom-thumbs {
	margin-bottom: 10px;
	text-align: left;
}
.xzoom-thumbs a img {
	margin-left: 0;
	margin-right: 5px;
}
.tab_detail .nav-tabs {
	border-bottom: 1px solid #ccc8c8;
}
.tab_detail {
	margin-top: 3em;
	margin-right: 2em;
	border: 1px solid #ccc8c8;
}
.tab_detail .nav-tabs li a {
	border-top: 0;
	border-radius: 0;
	border-left: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 600;
	color: #f6422d;
	padding: 10px 20px;
	background-color: #f2f1f1;
	border: 0;
	margin: 0;
	border-right: 1px solid #d1d0d0;
	border-bottom: 1px solid #d1d0d0;
}
.tab_detail .nav-tabs li.active>a, .tab_detail .nav-tabs li.active>a:hover, .tab_detail .nav-tabs li.active>a:focus {
	background: #fff;
	color: #000;
	border-bottom: 1px solid #fff;
	border-top: 0;
	border-left: 0;
}
.tab_detail .tab-content .product_d {
	font-size: 14px;
	letter-spacing: 0.5px;
	color: #121111;
	line-height: 25px;
}
.tab_detail .tab-content .product_d ul {
	padding-left: 15px;
	margin: 0;
}
.tab_detail .tab-content {
	padding: 35px;
}
.carousel-cell {
	width: 28%;
	height: auto;
	margin-right: 10px;
	background: #fff;
	border-radius: 5px;
	counter-increment: carousel-cell;
}
.smilar_head h3 {
	font-size: 20px;
	font-weight: 600;
	color: #000000;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	margin: 15px 0;
}
.smilar_head {
	padding: 1em 1em;
}
.checkout_page {
	background-color: #eeeeee;
	padding: 2.5em 0;
}
section.checkout_page .pro_1 h2 {
	border: 0;
}
.wick_c ul li {
	display: table-cell;
	width: 33.33%;
}
.wick_c ul {
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}
.wick_c ul li .wick_head span i {
	font-style: normal;
	width: 35px;
	height: 35px;
	border: 2px solid #fff;
	display: inline-block;
	line-height: 35px;
	border-radius: 50px;
	margin-right: 10px;
}
.wick_c ul li .wick_head span {
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.wick_c ul li .wick_head {
	background: #fa5a3a;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 1em;
	text-align: center;
	position: relative;
}
.wick_head::after {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid white;
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	margin: 0 auto;
	bottom: 0;
}
.wick_body {
	padding: 2em 0.5em;
	position: relative;
}
.check_Outlogin ul li.active a::before {
	border: 4px solid #fa5a3a;
	box-shadow: 0 0 0 1px #fff;
}
.check_Outlogin ul li a::before {
	width: 14px;
	height: 14px;
	border: 4px solid #ffffff;
	content: "";
	position: absolute;
	left: 0;
	border-radius: 50px;
	box-shadow: 0 0 0 1px #9f9fa2;
}
.check_Outlogin ul li a {
	position: relative;
	color: #706f6f;
	letter-spacing: 0.5px;
	font-size: 13px;
	padding-left: 25px;
	margin-right: 10px;
}
.check_Outlogin ul li.active a, .check_Outlogin ul li.active a:hover, .check_Outlogin ul li.active a:focus, .check_Outlogin ul li a, .check_Outlogin ul li a:hover, .check_Outlogin ul li a:focus {
	border: 0;
	position: relative;
	text-align: left;
	background: #fff;
}
.check_Outlogin ul li {
	display: inline-block;
	width: auto;
	border: 0;
	float: none;
}
.check_Outlogin ul {
	display: block;
	width: 100%;
	border: 0;
	text-align: center;
}
.check_Outlogin .tab-content .tab-pane {
	text-align: center;
}
.check_Outlogin .tab-content .tab-pane a {
	background: #4d5d8e;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	padding: 11px 0;
	border: 0;
	height: auto;
	border-radius: 5px;
	transition: 600ms all;
	text-align: center;
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	width: 75%;
}
.check_Outlogin .tab-content .tab-pane p {
	margin: 0;
	padding-top: 2em;
	color: #000;
	letter-spacing: 0.5px;
	font-size: 14px;
}
.checkmark h3 i {
	font-style: normal;
	background: #ededfd;
	font-size: 13px;
	padding: 2px 3px;
	border-radius: 1px;
	margin: 0 5px;
	font-weight: 400;
}
.checkmark h3 {
	margin: 0;
	font-size: 14px;
	color: #000;
	letter-spacing: 0.6px;
	font-weight: 600;
}
.checkmark p {
	color: #212121;
	font-weight: 400;
	font-size: 13px;
	margin: 0;
	padding-top: 5px;
	letter-spacing: 1px;
	line-height: 20px;
}
.old_addreslist label {
	position: relative;
	width: 100%;
	min-height: 85px;
	background: white;
	padding: 10px;
}
.checkmark {
	position: absolute;
	top: 0;
}
/*terms*/
.terms-use {
	text-align: justify;
	padding: 0;
}
.terms-use ol li {
	padding-top: 20px;
	padding-left: 10px;
}
.terms-use ol {
	padding: 0;
}
.heading_terms h2 {
	text-align: center;
}
.mob_side_view {
	display: none;
}
.blog_filter .caret {
	display: none;
}
/*checkout*/
.old_addreslist label input {
	opacity: 0;
}
.old_addreslist input:checked + .checkmark::after {
	background: #fa5a3a;
	box-shadow: 0 0 0 2px #fa5a3a;
	animation: pulse 1s;
}
.old_addreslist label .checkmark {
	padding-left: 40px;
	cursor: pointer;
	padding-bottom: 11px;
	box-shadow: 0 2px 4px 0px rgba(117, 130, 169, 0.4);
}
.old_addreslist label .checkmark::after {
	content: "";
	width: 13px;
	height: 13px;
	background: #4d5d8e;
	position: absolute;
	border-radius: 50px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px #4d5d8e;
	left: 10px;
	top: 0;
}
.add_newadd .check_newadd {
	margin-bottom: 20px;
	margin-top: 3px;
	color: #fff;
	border: 0;
	background: #4d5d8e;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 9px 8px 5px 8px;
	border-radius: 2px;
	box-shadow: 1px 2px 8px rgba(156, 170, 214, 0.55);
}
.add_newadd {
	text-align: center;
	position: relative;
}
.add_newadd .accshadow_box {
	margin: 0;
	padding: 30px 15px 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}
.add_newadd .accshadow_box.slideOutUp {
	height: auto;
	transition: height 1s ease-out;
	opacity: 1;
}
.old_addreslist {
	padding-top: 10px;
	height: auto;
	transition: height 1s ease-out;
	overflow: hidden;
}
.old_addreslist.slideOutUp {
	transition: height 0.3s ease-out;
	height: 0;
	padding: 0;
}
.cehck_order {
	display: block;
	position: relative;
	width: 100%;
}
.cehck_order .r_oredr {
	display: table;
	width: 100%;
	border-bottom: 1px solid #cdd8f9;
	padding-bottom: 10px;
	padding-top: 13px;
}
.cehck_order .r_oredr .roimg {
	display: table-cell;
	width: 30%;
	vertical-align: top;
}
.cehck_order .r_oredr .ro_text {
	display: table-cell;
	width: 66%;
	vertical-align: top;
}
.roimg a img {
	margin: 0 auto;
}
.roimg a {
	display: block;
	border: 1px solid #cedaff;
	padding: 10px;
	margin-right: 10px;
	border-radius: 0;
}
.ro_text p strong {
	color: #fa5a3a;
	padding-top: 6px;
	display: inline-block;
	padding-right: 10px;
}
.ro_text p {
	color: #2d3134;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 2px;
	text-align: right;
}
.ro_text h5 {
	color: #343434;
	letter-spacing: -0.1px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 14px;
}
.ro_text h5 a {
	color: #343434;
}
.or_plus {
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
}
.or_plus .cart_qty, .or_plus p {
	float: left;
}
.or_plus p {
	float: right;
}
.check_bill .cart_summry {
	background: #fff;
	border: 0;
}
.check_bill .cart_summry ul {
	display: block;
	background: #f2f4f9;
}
.check_bill .cart_summry ul li {
	display: block;
	width: 100%;
	padding: 7px 15px;
	border: 0;
	font-size: 14px;
}
.check_bill .cart_summry ul li span {
	font-size: 14px;
}
.comment_check .form-group textarea, .comment_check .form-group select {
	border: 1px solid #d4e4f4;
	box-shadow: none;
	border-radius: 0;
	color: #272727;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.1px;
}
.comment_check .form-group label {
	color: #272727;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.1px;
}
.comment_check {
	padding-top: 15px;
}
.ro_text h5 span.deleting:hover {
	border: 1px solid #fa593a;
}
.ro_text h5 {
	position: relative;
	display: block;
}
.ro_text h5 span.deleting {
	width: 20px;
	height: 20px;
	background: url("../image/close.png") no-repeat center;
	display: inline-block;
	vertical-align: top;
	float: right;
	cursor: pointer;
	border-radius: 50px;
	border: 1px solid #ffffff;
	line-height: 20px;
	background-size: 100%;
}
.ro_text h5 a {
	display: inline-block;
	width: 85%;
}
.wick_c ul li.disabled::before {
	content: "";
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0;
	background: rgba(255, 255, 255, 0.74);
	z-index: 1;
	cursor: not-allowed;
}
.wick_c ul li.disabled {
	cursor: not-allowed;
	position: relative;
}
.blog-l button.close {
	display: none;
}
button.mob-list {
	display: none;
}
/*about*/
.terms-use .form_tight {
	padding: 2em;
	background: #fff;
	width: 450px;
	box-shadow: -2px 2px 30px 1px rgba(0, 0, 0, 0.15);
	margin-top: 2em;
	margin: 0 auto;
}
.terms-use p {
	padding: 0 20px;
}
.terms-use h2 {
	text-align: center;
	margin-top: 10px;
}
.terms-use .form_tight h3 {
	text-align: center;
	margin-top: 0;
}
.terms-use .form_tight textarea {
	border: none;
	border-bottom: 1px solid #bebfc3;
	width: 100%;
	padding-left: 42px;
	vertical-align: middle;
	border-bottom: 1px solid #bdc1ce;
	box-shadow: none;
	border-radius: 0;
	padding-left: 42px;
	color: #2f3a62;
	font-size: 13px;
	font-weight: 500;
	padding-top: 7px;
}
/*cancel-refund*/
ol.cancel-refund {
	padding: 10px;
	font-size: 15px;
	list-style: decimal;
}
.cancel-refund li {
	font-size: 20px;
	color: #333;
}
.cancel-refund li ol li {
	font-size: 14px;
}
/*contact-us*/
.contact_pg p {
	padding: 20px 20px 0 20px;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #333;
}
.contact_pg span {
	font-size: 20px;
	padding: 15px;
}
.contact_pg span i {
	color: #445179;
}
.contact_pg a {
	color: #333;
	font-size: 16px;
	letter-spacing: 0.5px;
}
.contact_pg {
	padding: 50px 0;
}
.msg_pop.alert {
	margin-bottom: 0;
}
/*review*/
.listing-rating i.orange-font {
	color: #fa5a3a;
}
.rating-icon .fa.fa-pencil-square-o {
	font-size: 25px;
	color: #fa5a3a;
}
a.review-btn {
	background: #f6412d;
	color: #fff;
	display: inline-block;
	padding: 2px 10px;
	line-height: 30px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 2px;
	margin: 0 5px 5px 0;
	min-width: 100px;
	text-align: center;
	border: 1px solid #f6412d;
	vertical-align: middle;
}
/*#rateYo svg{width:20px;margin-right:5px;}*/
#reviewRating p em {

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #111010;

}

div.counter {
    display: block;
    position: absolute;
    min-width: 20px;
    padding: 5px;
    font-size: 15px;
    line-height: 0px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    right: -36px;
    margin-top: -10px;
    color: white;
}
div.counter {
    float: left;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 7px;
}


.list-check {
	float: left;
	height: 20px;
	width: 17px;
	box-shadow: none;
}
.list-check:hover {
	background-color: red;
	color: #fff;
}
ul.chck-list a {
	padding-left: 28px!important;
	padding-top: 10px!important;
}
ul.chck-list label {
	float: left;
}
.inline_check input {
	height: 20px!important;
	position: relative;
	z-index: 1;
	top: 10px;
	left: 1px;
	opacity: 0;
	width: 20px;
	cursor: pointer;
}
.inline_check span.checkmark2 {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	background-color: rgb(255, 255, 255);
	left: 0;
	top: 8px;
	border-radius: 2px;
	border: 1px solid #333;
	transition: 600ms all;
}
.chck_add.checkmark{
	position: absolute;
	top: 0;
	box-shadow: none !important;
	height: 100%;
	width: 100%;
	background-color: transparent;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark2 {
	background-color: #F86F60;
	border-color: #F86F60;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
input:checked ~ .checkmark2:after {
	display: block;
}
/* Style the checkmark/indicator */
.checkmark2::after {
	left: 5px;
	top: 2px;
	width: 6px;
	height: 12px;
	border: 1px solid #fff;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#myCarBrandModel.car-choice .modal-header {
	border-bottom: 0;
}
#myCarBrandModel.car-choice .modal-body.row {
	margin-right: 0;
	margin-left: 0;
}
#myCarBrandModel.car-choice ul li {
	list-style: none;
}
#myCarBrandModel.car-choice ul.chck-list a {
	padding-left: 5px !important;
	padding-top: 0px !important;
}
#myCarBrandModel.car-choice label.inline_check input {
    height: 20px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 1px;
    opacity: 0;
    width: 20px;
    cursor: pointer;
    margin: 3px 0;
}
input.button.choice-car {
	background: #f6412d;
	color: #fff;
	float: right;
	text-transform: uppercase;
	font-size: 13px;
	padding: 6px 15px;
	border: 0;
	height: auto;
	border-radius: 5px;
	margin-top: 25px;
	transition: 600ms all;
}
.car-choice button.close {
	opacity: 1;
	color: #333;
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 15px;
}
.car-choice .col-md-4.col-sm-4.col-xs-12 {
    padding: 0;
}
.car-choice .col-md-12.col-sm-12.col-xs-12 {
    padding: 0;
}

/*loader in product listing page*/
.car_loader {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.51);
}
.car_loader img {
    vertical-align: middle;
    line-height: 50%;
    margin: 0 auto;
    top: 25%;
    position: relative;
}

a.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

/*tanya12/11/18*/
.f_th p.help-inline {
    color: red;
}
.msg_pop a.btn {
    background: #3e4c75;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    padding: 5px 10px;
    text-align: center;
    float: right;
    font-size: 13px;
    vertical-align: middle;
}
.p_data p.same_hght {
    min-height: 55px;
}
ul.chck-list::-webkit-scrollbar {
    width: 15px;
    height:2px;
}
ul.chck-list::-webkit-scrollbar-thumb {
    background:#3e4c75;
    background-size: 50%;
    overflow-y: scroll;
}
ul.chck-list::-webkit-scrollbar-track {
    border-radius: 0;
    background:#fa5a3a;
    background-size: 100%;
    background-repeat: repeat-y;
}
#myCarBrandModel .modal-dialog {
    width: 800px;
}
.banner_bg a img {
    width: 100%;
}

/*media*/


@media (min-width:1300px) {
.container {
	width: 1170px;
}
}
 @media (max-width:768px) {
 #myCarBrandModel .modal-dialog {
    width:auto;
}
	 .rating-title {
    font-size: 15px;
}
#reviews.tab-content.row {
    padding: 0!important;
}
#reviews .tab-content {
    padding: 0;
}
.line_link.open ul.dropdown-menu.search_div {
	min-width: 100%;
}
.line_link.open ul.dropdown-menu {
	min-width: 150px;
	left: 0;
	right: auto;
	border: 0;
	border-radius: 0;
}
.line_link.open ul.dropdown-menu li a {
	text-align: left;
	padding: 7px 15px;
}
.line_link.open ul.dropdown-menu li a i {
	margin-right: 10px;
}
.line_link.open ul.dropdown-menu li a:hover, .line_link.open ul.dropdown-menu li a:focus {
	background: #ecedf4;
	color: #333;
}
.contact_pg span i.fa.fa-envelope {
	font-size: 18px;
}
.contact_pg span i.fa.fa-map-marker {
	font-size: 26px;
}
.wick_body.check-list-open {
	display: block;
}
/*header,bnner*/
.top_header .navbar-toggle {
	background: transparent;
	border: 0;
	margin: 12px 15px;
}
.top_header .navbar-brand {
	padding: 8px 0;
}
.top_header .navbar-brand img {
	width: 75px;
}
.banner_text h3 {
	line-height: 24px;
	font-size: 18px;
}
.banner_text p {
	font-size: 13px;
	line-height: 20px;
	padding-top: 0;
}
.pp-id {
	font-size: 14px;
}
.time_counter {
	padding-top: 0;
}
.tcount-h ul li span {
	min-height: 25px;
	line-height: 25px;
	font-size: 25px;
}
.tcount-h ul li::after {
	top: 0;
}
.tcount-h ul li {
	padding: 3px 6px;
	font-size: 10px;
}
.tcount-h ul {
	padding: 10px 10px;
}
.btn-hover {
	padding: 9px 18px;
	font-size: 13px;
}
.banner_btn {
	padding: 10px 0;
}
.top_header .collapse ul .line_link.bor_l a {
	border-left: 1px solid #dcdfeb;
	padding-left: 20px;
	padding-right: 20px;
}
.top_header > nav {
	margin: 0;
}
#myNavbar {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	width: 70%;
	height: 100% !important;
	bottom: 0;
	max-height: none;
 background-image:;
 background-image:;
 background-image:;
	border: 0;
	transition: 800ms all;
	transform: translateX(-100%);
	width: 20%;
}
.navbar-inverse #myNavbar .navbar-nav > li > a {
	color: #131126;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	transition: 600ms all;
}
.navbar-inverse #myNavbar .navbar-nav > li > a:hover, .navbar-inverse #myNavbar .navbar-nav > li > a:active, .navbar-inverse #myNavbar .navbar-nav > li > a:focus, .navbar-inverse #myNavbar .navbar-nav > li > a:visited, .navbar-inverse #myNavbar .navbar-nav > li.active > a {
	background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
	transition: 800ms all;
}
#myNavbar.in {
	transform: translateX(0%);
	width: 70%;
	z-index: 2;
	box-shadow: 0px 0px 8px 0px rgba(7, 7, 7, 0.30196078431372547);
}
#myNavbar.in .navbar-nav > li > a {
	transform: translateX(0%);
	transition: 1s all;
}
#myNavbar .navbar-nav > li > a {
	transform: translateX(-45%);
	transition: 1s all;
}
/*end*/	
.blog_img.img_big {
	height: auto;
}
.blog_img.img_sml {
	height: auto;
}
section.testimonial {
	padding: 0 0 2em 0;
}
.center_head h1 span {
	font-size: 30px;
}
.h_head h1 span {
	font-size: 18px;
	text-transform: capitalize;
}
.item_tu {
	margin: 20px;
}
.carousel-inner .item .test_content {
	padding: 20px 20px;
}
div#testiCarousel {
	margin-top: 0;
}
.banner_phone {
	display: none;
}
.bannre_btn {
	position: absolute;
	text-align: center;
	top: auto;
	left: 0;
	bottom: 5px;
}
section.banner {
	min-height: 130px;
}
.bannre_btn a {
	min-width: 100px;
	width: auto;
	display: inline-block;
	margin-bottom: 12px;
	padding: 0px 12px 1px;
	margin: 5px 2px;
	border-radius: 50px;
	text-align: left;
}
.bannre_btn a span.btn_ico {
	margin-right: 3px;
}
.bannre_btn a strong {
	font-size: 9px;
	line-height: 0px;
}
.bannre_btn a small {
	font-size: 8px;
}
.bannre_btn a span img {
	height: 18px;
	vertical-align: baseline;
}
.banner_over {
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px auto;
	text-align: center;
	z-index: 2;
	height: 100%;
}
.carousel-indicators {
	bottom: -30px;
}
a.left i.fa.fa-angle-left {
	position: absolute;
	right: 0;
}
section.testimonial .col-md-8.col-sm-8.col-xs-12.col-md-offset-2.col-sm-offset-2 {
	padding: 0;
}
.test_content p {
	font-size: 13px;
	line-height: 22px;
}
.h_head h1 a b {
	line-height: 16px;
	top: 16px;
}
.h_head h1 a {
	width: 70px;
	height: 70px;
	font-size: 13px;
	color: #191f3a;
	margin-top: -13px;
}
.mob_foot {
	display: block;
	padding: 10px;
	text-align: center;
	background-color: #2c3559;
}
section.home_blog {
	padding: 0 0 2em 0;
}
.mob_foot a {
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	background-color: #fa5433;
	border-radius: 7px;
}
.banner_bg a img {
	max-width: 100%;
}
.col-md-12.col-sm-12.col-xs-12.blog_rect {
	padding-right: 0;
	padding-left: 0;
}
.f_th ul {
	display: none;
}
.f_th h3.ft_tog::before {
	position: absolute;
	content: "";
	left: 14px;
	width: 30px;
	height: 3px;
	background-color: #fa5a3a;
	top: 32px;
}
.f_th h3 {
	margin: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.f_th h3.ft_tog {
	border-bottom: 1px solid #242323;
}
.foot_top .container {
	padding: 0;
}
.f_last.f_th img {
	height: 150px;
	margin: 0 auto;
}
.f_last.f_th {
	text-align: center;
}
/*1/10/18(account_info*/
.whitebadse {
	padding: 10px 0;
}
.account_dit {
	padding-left: 0px;
}
.accshadow_box {
	padding: 20px;
	margin: 0;
}
.addres_stic {
	padding: 0;
}
.add_h {
	padding: 15px;
}
.account_left ul li a {
	font-size: 13px;
	padding: 5px 15px;
}
.accoutbase {
	padding: 2em 0 2em 0;
}
.default_a {
	padding: 10px !important;
}
.bred_top .container .breadcrumb li {
	font-size: 11px;
}
.bred_top .container .breadcrumb {
	margin-bottom: 0;
	padding-top: 0;
}
.mob-side {
	letter-spacing: 1px;
	font-size: 13px;
	border: 1px solid #cbcbe3!important;
	background: #fff;
	display: block;
	height: auto !important;
	padding: 5px 10px;
	border-radius: 3px !important;
	color: #333;
	text-align: center;
	opacity: 1;
	transition: 600ms all;
	float: none;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 20px;
}
.cen_btn > div a, .cen_btn > div input {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	border: 0 !important;
	display: block;
	height: auto !important;
	padding: 4px 13px;
	min-width: 70px;
	margin: 10px 3px;
	border-radius: 3px !important;
	color: #fff;
	text-align: center;
	opacity: 1;
	transition: 600ms all;
}
.account_left ul {
	padding-top: 0px;
}
.account_left ul.collapse {
	display: none;
}
.acc_h {
	font-size: 14px;
	margin: 10px 0;
	text-align: center;
}
.account_dit h4 {
	font-size: 15px;
	margin: 0;
	text-align: center;
}
.add_h a {
	margin-left: 5px;
	font-size: 13px;
}
.add_h h2 {
	font-size: 14px;
}
.pull-right.ac-hlink {
	margin-right: 20px;
}
/*.radio.pull-right {display: block !important;
padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
margin: 0 !important;
padding-left: 20px !important;
float: left !important;}*/
/*forgot*/
.form_anim {
	width: 100%;
}
.form_tight {
	width: 100%;
}
.form_tight {
	padding: 15px;
	margin: 10px auto;
	padding-top: 25px;
}
.form_tight h5 {
	padding-bottom: 15px;
}
.form_bg {
	padding: 0;
	margin-top: 0;
}
.form_tight form input[type="submit"] {
	font-size: 10px;
	width: 80%;
	margin: 0 auto;
	padding: 8px 0;
}
.form_tight form input[type="submit"]:hover {
	width: 80%;
}
.back_h {
	padding: 10px;
}
.f_social a {
	margin-bottom: 10px;
}
.form_tight form .form-group.error p {
	position: relative;
	bottom: 0;
	color: red;
	line-height: 0;
	text-align: right;
	right: 0;
	font-size:8px;
	letter-spacing: 0;
}
.fl_text {
	display: none;
}
.form_bg .col-md-7.col-sm-7.col-xs-12 {
	background-color: #fff;
}
.form_tight p {
	letter-spacing: 0;
}
.accshadow_box .form-group input {
	font-size: 13px;
	height: 35px!important;
}
.hover_btn {
	margin-top: 25px;
}
.cen_btn {
	margin-top: 10px;
}
.save_b input[type="button"] {
	height: 30px !important;
}
.accshadow_box .form-group .radio {
	display: block;
}
.radio.pull-right {
	float: left !important;
	padding-bottom: 20px;
}
.accshadow_box .form-group .radio.pull-right {
	display: none;
}
/*my-order*/
.oredr_head .order_id p {
	margin-bottom: 13px;
}
.oredr_head .order_help {
	float: left;
}
.tracor_tot .o_to {
	float: none;
}
.order_traker ul li {
	letter-spacing: 0.5px;
	font-size: 9px;
}
.order_id {
	margin-left: 50px;
}
.wishp_img a {
	padding: 1em;
}
/*my wishlist*/
.whish_head {
	display: none;
}
.wish_pname, .wish_price, .wis_acart, .del_wish {
	line-height: 70px;
	height: 70px;
}
.whish_detail > .row {
	padding: 1em 0 0;
}
.wis_acart button {
	font-size: 11px;
	letter-spacing: 1px;
	padding: 5px 10px;
}
.oredr_head .order_help a {
	margin-left: 15px;
	font-size: 11px;
	padding: 3px 13px;
}
.del_wish button {
	font-size: 20px;
}
/*8/10/18-index*/
.carousel-cell {
	width: 100%;
}
.navbar-toggle .icon-bar {
	background-color: #fa5433!important;
}
.navbar-toggle .icon-bar:hover {
	background-color: #fa5433!important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #fff;
}
.top_header .navbar-brand img {
	width: 70%;
	padding: 0 10px;
}
.mob_side_view {
	display: block;
	box-shadow: 2px 2px 2px rgba(7, 7, 7, 0.14);
	border-top: 1px solid #d9e0f7;
}
.mob_side_view.row ul {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 0px;
	text-align: center;
}
.search_div {
	right: 0;
	padding-top: 10px!important;
}
.mob_side_view ul li {
	display: inline-block;
	width: 32.33%;
	text-align: center;
	vertical-align: middle;
}
.mob_side_view ul li a.mob-link {
	color: #3a4469;
	padding: 6px 8px 0;
	display: block;
	border-bottom: 2px solid #fff;
}
.mob_side_view ul li a.mob-link:hover {
	border-bottom: 2px solid #fa5433;
	color: #fa5433;
}
.dropdown-menu.link_drop.search_div {
	border-radius: 0;
}
.link_drop {
	min-width: 100%;
}
.urban_sec .container {
	padding: 0;
}
.urban_sec .col-md-12.col-sm-12.col-xs-12 {
	padding: 0;
}
.urban_sec .col-md-2.col-sm-12.col-xs-6 {
	padding-top: 20px;
}
.smilar_head {
	padding: 10px;
	text-align: center;
}
.flickity-button {
	height: 50px;
	width: 30px;
}
.list_box .pc_box .p_img a.atc_btn {
	padding: 6px;
	position: relative;
	bottom: 0;
	opacity: 1;
	animation: slideInUp 500ms;
	width: auto;
}
.list_box .pc_box .p_img {
	margin-bottom: 0;
}
.p_data {
	padding: 5px 0 10px 0;
}
.urban_img a .u_img img {
	width: 40px;
}
.urban_img a h3 {
	font-size: 10px;
	line-height: 13px;
}
/*my-order*/
.wish_pname {
	text-align: center;
}
.ordered .wish_pname, .ordered .wish_price {
	padding: 20px 5px 0;
}
.order_traker ul li {
	width: 23%;
}
.order_traker {
	padding: 0;
}
.wish_pname a, .wish_price p {
	font-size: 13px;
	vertical-align: baseline;
}
.account_wishlist {
	margin-top: 0;
}
/*whishlist*/
.my_account {
	margin-top: 1em;
}
/*cart*/
.cart_name p a, .cart_price {
	font-size: 10px;
	line-height: 0px;
}
.cart_table table thead tr td {
	padding: 7px;
	font-size: 13px;
}
.cart_table table tbody tr td {
	padding: 10px 5px;
}
.cart_summry ul li span {
	font-size: 14px;
}
.cart_summry ul li.c_total {
	font-size: 15px;
}
.cart_summry ul li {
	font-size: 13px;
}
.pr_check a {
	font-size: 13px;
	padding: 5px 5px;
	width: 70%;
}
/*blog*/
.blog_page .whitebadse .blog-l.mob-catg {
	padding-left: 10px;
	padding-left: 10px;
	position: relative;
	width: 100%;
	right: 0;
	top: 0;
	padding-top: 0;
	height: auto;
	transition: 1s all;
}
.bt_text h3 {
	font-size: 10px;
	letter-spacing: 1px;
}
.blog_filter ul.collapse {
	display: none;
}
.blog_filter {
	margin: 10px;
	padding: 5px !important;
	margin-bottom: 20px;
}
.blog_filter h4 {
	text-align: center;
	margin: 5px;
}
.blog_filter .caret {
	display: inline-block;
	margin-left: 10px;
}
.form-control::-moz-placeholder {
font-size:9px;
}
.b_img span {
	right: auto;
	left: 5px;
}
.b_img img {
	width: 100%;
}
/*detail*/
.image_home {
	width: 100%;
	height: 210px;
	line-height: 210px;
}
.tab_detail {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
}
.p_detail_t h3 {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
}
.detail_price span.tot_p {
	font-size: 16px;
}
.detail_price span.old_p {
	font-size: 14px;
}
.buy_addbtn a {
	font-size: 11px;
	padding: 0px 10px;
}
.buy_addbtn {
	text-align: center;
}
.wish_share {
	text-align: center;
}
.seller {
	text-align: center;
}
.detail_dicription p {
	font-size: 13px;
	line-height: 20px;
}
.tab_detail .tab-content {
	padding: 20px;
}
.tab_detail .tab-content .product_d {
	font-size: 13px;
}
/*terms*/
.terms-use {
	padding: 10px;
	font-size: 13px;
}
.terms-use ol li {
	padding-top: 10px;
	padding-left: 5px;
}
.inner_heading h3 {
	font-size: 18px;
	letter-spacing: 0.5px;
	font-weight: 600;
}
/*checkout*/
.wick_c ul li {
	display: block;
	width: 100%;
	margin: 20px 0;
}
section.checkout_page .pro_1 h2 {
	text-align: center;
}
.wick_body {
	display: none;
}
.wick_c ul li .wick_head {
	padding: 5px 0 7px 0;
}
.search_div li {
	width: 100%!important;
	margin-bottom: 10px;
}
.search_div .input-group {
	padding-left: 10px;
}
.mob_side_view.row ul.link_drop li {
	width: 100%;
}
ul.categ-open {
display:;
}
.add-act {
	display: none;
}
.wick_head.check-list-mob3 span {
	margin-left: -22px;
}
.wick_head.check-list-mob2 span {
	margin-left: -10px;
}
/*listing*/
.list_box .pc_box {
	min-height: 180px;
}
.blog-l {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 9999;
	right: -100%;
	top: 0;
	padding-top: 2.5em;
	height: 100%;
	overflow: scroll;
	transition: 1s all;
}
.blog-l.filter_visible {
	right: 0;
	transition: 1s all;
}
button.mob-list {
	display: block;
	float: right;
	background-color: #fff;
	box-shadow: none;
	border: 1px solid #fa5433;
	margin-bottom: 10px;
}
.blog-l button.close {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 26px;
	color: #fff;
	background-color: red;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	padding: 0px 14px 0;
	display: block;
}
.list_filter {
	padding: 10px;
	font-size: 13px;
	margin: 0 20px;
	margin-bottom: 0px;
	margin-bottom: 1em;
}
.pro_1 h2 {
	font-size: 15px;
	padding-bottom: 5px;
	letter-spacing: 1px;
	text-align: center;
}
/*cart*/
.cart_head h3 {
	margin: 0;
	font-size: 20px;
	margin-bottom: 10px;
}
.terms-use h2 {
	text-align: center;
	font-size: 22px;
	margin-top: 0;
}
/*about*/
.terms-use .form_tight {
	width: 100%;
	min-height: auto;
}
.terms-use .col-md-6.col-sm-6.col-xs-12 {
	padding: 0;
}
.terms-use p {
	padding: 0;
}
.cancel-refund li {
	font-size: 16px;
}
.cancel-refund li ol li {
	font-size: 13px;
}
.terms-use {
	padding: 10px;
}
.terms-use {
	padding-top: 10px;
}
.terms-use.about.row {
	padding: 10px 20px 0;
}
/*contact-us*/
.contact_pg p {
	font-size: 13px;
}
.contact_pg span {
	font-size: 20px;
	padding: 13px;
}
.contact_pg a {
	font-size: 15px
}
.contact_pg {
	padding: 0;
}
.foot_bot p, .foot_bot p {
	font-size: 13px;
}
.foot_bot {
	padding: 10px 15px;
}
.urban_img {
	padding-bottom: 15px;
	min-height: 105px;
}
#myNavbar ul li.line_link:nth-child(7), #myNavbar ul li.line_link:nth-child(9), #myNavbar ul li.line_link:nth-child(8) {
	display: none;
}
#myNavbar ul li {
	border-bottom: 1px solid #eee;
}
}
 @media (min-width:768px) and (max-width:991px) {
.mob_side_view {
	display: none;
}
.navbar-brand img {
	width: 145px;
	height: auto;
}
#myNavbar {
	padding: 0;
}
.top_header .collapse ul li.line_link a {
	font-size: 11px;
	padding-left: 7px;
	padding-right: 7px;
}
.top_header .collapse ul li a {
	font-size: 11px;
	padding: 27px 6px;
}
header.top_header.fixed .collapse ul li a {
	padding: 20px 7px;
}
header.top_header.fixed .collapse ul li.line_link a {
	padding: 20px 9px;
}
.bannre_btn {
	bottom: 0;
}
section.banner {
	min-height: unset;
}
.carousel-cell {
	width: 50%;
}
.urban_img a h3 {
	font-size: 11px;
}
nav.social small {
	margin-right: 28px;
}
.bannre_btn a small {
	font-size: 10px;
}
.bannre_btn a strong {
	font-size: 16px;
	line-height: 16px;
}
.order_traker ul li.green {
	font-size: 12px;
}
.order_traker ul li {
	font-size: 12px;
}
.wishp_img a {
	padding-top: 15px;
}
.oredr_head {
	padding: 15px 5px 0;
}
}
@media (min-width:991px) and (max-width:1200px) {
.mob_side_view {
	display: none;
}
.navbar-brand img {
	width: 145px;
	height: auto;
}
#myNavbar {
	padding: 0;
}
.top_header .collapse ul li.line_link a {
	font-size: 13px;
	padding-left: 13px;
	padding-right: 13px;
}
.top_header .collapse ul li a {
	font-size: 13px;
	padding: 27px 13px;
}
header.top_header.fixed .collapse ul li a {
	padding: 20px 13px;
}
header.top_header.fixed .collapse ul li.line_link a {
	padding: 20px 15px;
}
.bannre_btn {
	bottom: 0;
}
section.banner {
	min-height: unset;
}
.carousel-cell {
	width: 50%;
}
.urban_img a h3 {
	font-size: 11px;
}
nav.social small {
	margin-right: 82px;
}
.bannre_btn a small {
	font-size: 10px;
}
.bannre_btn a strong {
	font-size: 16px;
	line-height: 16px;
}
/*my cart*/
.cart_table table tbody tr td {
	padding: 6px;
}
}

/*keyframe*/

/*scaner animation*/
@keyframes ani {
 0% {
 top: 15px;
}
 50% {
 top:70%;
}
 100% {
 top: 0;
}
}

/*bg animation*/
@keyframes fill {
 0% {
 opacity:0;
}
 25% {
 opacity:0.5;
}
 50% {
 opacity:1;
}
 75% {
 opacity:0.5;
}
 100% {
 opacity:0;
}
}
/*==pulse animation==*/
@-webkit-keyframes pulseme {
 0% {
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
 50% {
 opacity: 0.3;
}
 100% {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;
}
}
@keyframes pulseme {
 0% {
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
 50% {
 opacity: 0.3;
}
 100% {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;
}
}
/*==pulse animation by keyfarame==*/
@-webkit-keyframes pulseme {
 0% {
 -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
}
 70% {
 -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
}
 100% {
 -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
}
}
@keyframes pulseme {
 0% {
 -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
 box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
}
 70% {
 -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
 box-shadow: 0 0 0 10px rgba(255,255,255, 0);
}
 100% {
 -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
 box-shadow: 0 0 0 0 rgba(255,255,255, 0);
}
}

/*==shine keyframe==*/
@-moz-keyframes shimmer {
 0% {
 background-position: top left;
}
 100% {
 background-position: top right;
}
}
@-webkit-keyframes shimmer {
 0% {
 background-position: top left;
}
 100% {
 background-position: top right;
}
}
@-o-keyframes shimmer {
 0% {
 background-position: top left;
}
 100% {
 background-position: top right;
}
}
@keyframes shimmer {
 0% {
 background-position: top left;
}
 100% {
 background-position: top right;
}
}
/*floating keyframe*/
@keyframes floating1 {
0% {
-webkit-transform:rotateX(0deg) translateY(0px);
-ms-transform:rotateX(0deg) translateY(0px);
transform:rotateX(0deg) translateY(0px);
}
50% {
-webkit-transform:rotateX(0deg) translateY(-20px);
-ms-transform:rotateX(0deg) translateY(-20px);
transform:rotateX(0deg) translateY(-20px);
}
100% {
-webkit-transform:rotateX(0deg) translateY(0px);
-ms-transform:rotateX(0deg) translateY(0px);
transform:rotateX(0deg) translateY(0px);
}
}
@-webkit-keyframes floating1 {
0% {
-webkit-transform:rotateX(0deg) translateY(0px);
-ms-transform:rotateX(0deg) translateY(0px);
transform:rotateX(0deg) translateY(0px);
}
50% {
-webkit-transform:rotateX(0deg) translateY(-20px);
-ms-transform:rotateX(0deg) translateY(-20px);
transform:rotateX(0deg) translateY(-20px);
}
100% {
-webkit-transform:rotateX(0deg) translateY(0px);
-ms-transform:rotateX(0deg) translateY(0px);
transform:rotateX(0deg) translateY(0px);
}
}
@keyframes floating {
from {
-webkit-transform:rotate(0deg) translate(-10px) rotate(0deg);
-ms-transform:rotate(0deg) translate(-10px) rotate(0deg);
transform:rotate(0deg) translate(-10px) rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	-ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	transform: rotate(360deg) translate(-10px) rotate(-360deg);
}
}
@-webkit-keyframes floating {
from {
-webkit-transform:rotate(0deg) translate(-10px) rotate(0deg);
-ms-transform:rotate(0deg) translate(-10px) rotate(0deg);
transform:rotate(0deg) translate(-10px) rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	-ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	transform: rotate(360deg) translate(-10px) rotate(-360deg);
}
}
@-webkit-keyframes rotate-right {
 from {
 -webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
@-webkit-keyframes rotate-left {
 from {
 -webkit-transform: rotate(360deg);
}
to {
	-webkit-transform: rotate(1deg);
}
}

  /* all other browsers */
  @keyframes spinner {
 from {
 -moz-transform: rotateY(0deg);
 -ms-transform: rotateY(0deg);
 transform: rotateY(0deg);
}
to {
	-moz-transform: rotateY(-360deg);
	-ms-transform: rotateY(-360deg);
	transform: rotateY(-360deg);
}
}
