.list_box span.add_wish a.active{color: #f6422d;}
.delivery-button {display:none;}
.delivery-button.active {display:block;}
.disabled-address {display:none;}
.non_check{
	position: relative;
	width: 100%;
	min-height: 85px;
	background: white;
	padding: 10px;	
}
.non_check .chck_add.checkmark{
position: relative;
}
.non_check .pr_check a{display: inline-block;width: auto;}
.old_addreslist .lab_box label{
	min-height: auto;
	margin: 0;
	padding-bottom: 3px;
}
.old_addreslist .lab_box .chck_add{padding-bottom:0;}
.old_addreslist .lab_box .delivery-button{padding-top:0;}
.lab_box {
    padding-bottom: 5px;
    padding-top: 5px;

}
.lab_box .chck_add.checkmark{position: relative;}
.old_addreslist .lab_box label input {
    opacity:0;
    display:none;

}
.old_addreslist .lab_box .pr_check a{display:inline-block;width:auto;}
.accshadow_box form .form-group.error p {
    position:relative;
    color:red;
    line-height: 20px;
    text-align: left;
    font-size:10px;
    letter-spacing:0.4px;
}
.accshadow_box form .form-group.error input, .accshadow_box form .form-group.error select{border-bottom-color:red;}
.checkput-cart-data-div form .form-group.error p {
    position:relative;
    color:red;
    line-height: 20px;
    text-align: left;
    font-size:10px;
    letter-spacing:0.4px;
}
.checkput-cart-data-div form .form-group.error input, .checkput-cart-data-div form .form-group.error select{border-bottom-color:red;}
.payment_sucdesign{text-align: right;}
.payment_sucdesign .order_text{padding-bottom:2em;}
.payment_sucdesign .order-bott p strong{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
    color: #4b447a;
}
.order-l_text{
    text-align: left;
    line-height: 25px;
    font-size: 13px;
    color: #636377;
    letter-spacing: 0.4px;
}
.razorpay-payment-button {
    display: inline-block;
    background: #f6422d;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 6px 25px;
    border-radius: 3px;
    border: 0;

}
.pay_lace {
    padding-bottom: 1em;
    border-bottom: 1px solid #dfe1f6;
    padding-top: 1em;

}
.pay_lace2{border:0;}
.thankcar{text-align: center;}
.thankcar .back_h a{
    display: inline-block;
    background: #f6422d;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 6px 25px;
    border-radius: 3px;
    border: 0;
    color:#fff;
    margin-top:0.3em;
}
.thankcar .Small_query small{
    color: #85b525;
    margin-top: 15px;
    display: block;
    letter-spacing: 0.5px;
    padding-top: 10px;

}
.thankcar .order-icon{padding:10px 0;}
.thankcar .order_text{padding-bottom: 10px;}